
<div class="container-fluid">
    <div class="col-12">
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand mb-0 h1">
                SoftSol
            </a>
            <ul class="navbar-nav d-flex justify-content-end flex-row">
                <li class="nav-item mr-2" ng-click="logout()">Logout</li>
            </ul>
        </nav>

        <hr>
        <div>
            <md-content>
              <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                <md-tab label="Tasks" md-on-select="onTabSelected('tasks')">
                  <md-content class="md-padding">
                    <task-page></task-page>
                  </md-content>
                </md-tab>
                <md-tab label="Team" md-on-select="onTabSelected('team')">
                  <md-content class="md-padding" >
                    <team-page></team-page>
                  </md-content>
                </md-tab>
                <md-tab label="Manage" md-on-select="onTabSelected('manage')">
                  <md-content class="md-padding">
                    <manage-page></manage-page>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>
    </div>
</div>