
<md-dialog aria-label="Create Team" class="col-7 pl-0 pr-0">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Team</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="col-12">
                <form ng-cloak>
                    <div class="form-group" ng-if="">
                        <label for="name">Team ID</label>
                        <input type="text" class="form-control" ng-model="team.id" placeholder="team ID" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">Team Name</label>
                        <input type="text" class="form-control" ng-model="team.title" placeholder="team Name">
                    </div>
                    <div class="form-group">
                        <label for="Team">Team Description</label>
                        <textarea type="text" class="form-control" ng-model="team.description" placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="addmember">Add Member</label>
                        <input type="text" ng-model="addmember" class="col-5">
                        <button class="btn btn-primary" ng-click="addMember(addmember)">Add</button>
                        <p>{{members}}</p>
                    </div>

                   

                </form>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div class="form-group text-right">
                <button class="btn btn-danger mr-2" ng-click="cancelTask()">Cancel</button>
                <button class="btn btn-primary" ng-click="createTeam()">Create</button>
                <!-- <button class="btn btn-primary" ng-if="" ng-click="saveTask()">Save</button> -->
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>